

.MuiPickerStaticWrapper-content {
  width: 350px;
}

.css-epd502 {
  width: 350px !important;
  margin: 0 !important; 
}

.MuiDayPicker-slideTransition {
  min-height: 262px !important;
}

.MuiCalendarPicker-root {
  width: 350px !important;
}

.MuiPickersCalendarHeader-root {
  /* background-color: greenyellow; */
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
}

.MuiDayPicker-weekContainer .MuiPickersDay-root {
  width: 50px;
  height: 50px;
  margin: 0px;
}

.MuiDayPicker-header {
  width: 350px;
}

.MuiDayPicker-header .css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  width: 50px;
}